<template name="search">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group">

                {{#each searchResults}}
                    <li class="list-group-item">
                        <span>
                            {{title}}
                        </span>
                    </li>
                {{/each}}

            </ul>
        </div>
    </div>
</template>